# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables and secret keys
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Local editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Vercel local files
.vercel/
